# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Node
node_modules
npm-debug.log
yarn-error.log

# Build artifacts
dist
build

# Environment files
.env
.env.*
!/.env.example

# OS-specific
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
